@model ISAT.Developer.Exam.Web.Models.UsuarioViewModel
@{
    ViewData["Title"] = "Editar Usuário";
}


<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">@ViewData["Title"]</h4>
        <p class="card-category">
            Edição dos Dados do Usuário
        </p>

    </div>

    <div class="card-body">
        <form asp-action="Edit">
            <input asp-for="Id" hidden />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">@Html.DisplayNameFor(model => model.Id) : </label>
                        @Html.DisplayFor(model => model.Id, new { @class = "form-control" })
                        <input asp-for="Id" type="hidden" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating" asp-for="nome"></label>
                        <input asp-for="nome" class="form-control" />
                        <span asp-validation-for="nome" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating" asp-for="sobreNome"></label>
                        <input asp-for="sobreNome" class="form-control" />
                        <span asp-validation-for="sobreNome" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating" asp-for="email"></label>
                        <input asp-for="email" class="form-control" />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating" asp-for="idade"></label>
                        <input asp-for="idade" class="form-control" />
                        <span asp-validation-for="idade" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>

            <div>
                <a asp-action="Index">Voltar para lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}